.card-grid{
    background-color: #F6F6F6;
    width: 1240px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 60px; 
    justify-content: center; 
    padding: 20px; 
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 60px;
}