.card-grid{
    background-color: #F6F6F6;
    max-width: 90%;
    margin: auto;
    border-radius: 1.25rem;
    margin-bottom: 3.125rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; 
    justify-content: center; 
    overflow: hidden;
    padding: 2rem;
    box-sizing: border-box;
}

/* Media queries pour adapter à la tablette */
@media (max-width: 1200px) {
    .card-grid{
        max-width: 90%;
        background-color: white;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding-top: 0px;
        padding-right: none;
        padding-left: none;
    }
}
/* Media queries pour adapter au mobile */
@media (max-width: 600px) {
    .card-grid{
        background-color: white;
        grid-template-columns: 1fr;
        max-width: 100%;
        margin: auto;
        margin-bottom: 2rem;
      }
}