/* Conteneur général */
.collapse-container {
    border-radius: 5px;
    overflow: hidden;
    width: 70%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  
/* Barre d'en-tête cliquable */
.collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #ff6060;
    color: white;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

.collapse-header h3 {
    margin: 0;
    font-size: 1.125rem;
}
  
/* Chevron qui pivote */
.collapse-chevron {
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: absolute; 
    right: 60px;
    top: 25%;    
}
  
/* Rotation du chevron quand ouvert */
.collapse-chevron.open {
    transform: rotate(-180deg); /* Chevron pointe vers le bas */
}
  
/* Contenu du volet */
.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 20px;
}
  
/* Lorsque le contenu est ouvert */
.collapse-content.open {
    max-height: 18.75rem; 
    padding: 20px;
    background-color: #F6F6F6;
}
  
.collapse-content p {
    margin: 0;
    font-size: 16px;
}

/* Media queries pour adapter au mobile/tablette */
@media (max-width: 1200px) {
    .collapse-container {
        width: 90%;
    }
}

/* Media queries pour adapter au mobile */
@media (max-width: 480px) {
    .collapse-header h3{
        font-size: 0.8125rem;
    }
    .collapse-container {
        margin-bottom: 10px;
    }
}