footer{
    background-color: black;
    height: 210px;
    color: white;
}

.content_footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

p{
    font-size: 24px;
}

.footer__logo{
    width: 122px;
    filter: brightness(0) invert(1); 
}