footer{
    background-color: black;
    height: 13.125rem;
    color: white;
    margin-top: 2.5rem;
}

.content_footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

p{
    font-size: 1.5rem;
}

.footer__logo{
    max-width: 7.625rem;
    filter: brightness(0) invert(1); 
}

/* Media queries pour adapter au mobile */
@media (max-width: 480px) {
    footer{
        height: 10rem;
        margin-top: 1.875rem;
    }
    .footer_right {
        font-size: 0.75rem;
        word-break: break-word; 
        max-width: 30%;
        margin: auto;
        margin-top: 0.625rem;
    }
}