.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
  
.header__logo{
  width: 210px; 
  height: 68px;
}
  
.header__nav a {
  color: black;
  text-decoration: none;
  margin-left: 3rem;
  font-size: 24px;
}

.header__nav a:active{
  text-decoration: underline;
}

.header__nav a:hover{
  text-decoration: underline;
}
  