.slideshow {
    position: relative;
    width: 100%;
    max-width: 415px;
    margin: auto;
}
  
.slideshow img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}