.star-rating {
    display: flex;
    gap: 5px;
  }
  
.star-filled {
    color: #FF6060; 
    font-size: 24px;
  }
  
.star-empty {
    color: #E3E3E3; 
    font-size: 24px;
  }

/* Media queries pour adapter au mobile */
@media (max-width: 480px) {
    .star-filled {
        font-size: 1.125rem;
    }
    .star-empty {
        font-size: 1.125rem;
    }
}